.rt-track-key {}

.rt-track-key__entry {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: $react-timelines-track-height + $react-timelines-border-width;
  line-height: $react-timelines-track-height;
  font-weight: bold;
  text-align: left;
  border-bottom: $react-timelines-border-width solid $react-timelines-sidebar-separator-color;
}

.rt-track-keys > .rt-track-key >
.rt-track-key__entry {
  padding-left: $react-timelines-sidebar-key-indent-width;
}

.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-key__entry  {
  padding-left: $react-timelines-sidebar-key-indent-width * 2;
}

.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-key__entry {
  padding-left: $react-timelines-sidebar-key-indent-width * 3;
}

.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-key__entry {
  padding-left: $react-timelines-sidebar-key-indent-width * 4;
}

.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-keys > .rt-track-key >
.rt-track-key__entry {
  padding-left: $react-timelines-sidebar-key-indent-width * 5;
}

.rt-track-key__title {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
